
*.lck
~$*.*
code/BeatTracker/Debug/
code/eclipse-workspace/\.metadata/
CAD/OldVersions/
CAD/ODroid C2/OldVersions/
CAD/Teensy 3.5-3.6/OldVersions/
CAD/OldVersions/
CAD/Components/OldVersions/
CAD/opengl/OldVersions/
*.zcode
code/BeatTracker/.settings/
code/workspace/
code/Client/.settings/

code/Common/\.settings/

code/Common/Debug/
code/Common/.cproject

*.d

*.o

code/Server/Debug/
Z-Firmware_V1.2.0_M200.zip

code/Server/\.settings/
