
*.lck
~$*.*
code/BeatTracker/Debug/
code/eclipse-workspace/\.metadata/
CAD/OldVersions/
CAD/ODroid C2/OldVersions/
CAD/Teensy 3.5-3.6/OldVersions/
CAD/OldVersions/
CAD/Components/OldVersions/
CAD/opengl/OldVersions/
*.zcode
